{% extends 'shared/base.html' %}

{%load static%}

{%block content%}
<div class="header">{{bread}}</div>

<div class="bread-container">
<ul>
{%for ing in bread.all_ingredients %}
    {%if ing.name != null%}
    <li>{{ing}} -{{ing.amount}}</li><form action="{%url 'breadapp:bread_details' ing.relationship_id%}" method="POST">{% csrf_token %}<input type="hidden" name="actual_method" value="DELETE" /><input type="submit" value="Delete"/></form>
    {%else%}
    <li>This bread has no ingredients</li>
    {% endif %}
{%endfor%}
</ul>
</div>
{%endblock%}